.product-grid{
    display: flex;
    flex-wrap: wrap;
    gap : 3%;
    background: red;
    padding: 2vw;
}

.product-block{
    flex-basis: 30%;
    text-align: center;
    padding: 0px;
    border: 3px solid white;
    background: white;
    margin-bottom: 3%;
}

.product-image-wrapper{
    position: relative;
    z-index: 899;
}

.product-dot{
width: 15px;
height: 15px;
background-color: red;
border-radius: 50%;
position: absolute;
z-index: 999;

}

.product-block img{
    width: 100%;
    margin: 0 auto;
}

.product-block h3{
    font-size: 22px;
}