.product-grid{
    display: flex;
    flex-wrap: wrap;
    gap : 2%;
    background: white;
    padding: 2vw;
    
}

.product-block{
    flex-basis: 31%;
    text-align: center;
    padding: 0px;
    border: 3px solid white;
    background: white;
    margin-bottom: 3%;
    width: 100%;
    margin: 0 auto 2% auto;
}

.product-image-wrapper{
    position: relative;
    z-index: 899;
}

.product-dot{
font-size: 60px;

border-radius: 50%;
position: absolute;
z-index: 999;
color:black;

}

.product-block img{
    width: 100%;
    margin: 0 auto;
    height: 110%;
}

.product-block h3{
    font-size: 22px;
}

@media screen and (max-width : 650px) {
    .product-grid{
        gap: 2%;
    }
    .product-block{
        flex-basis: 48%;
    }
}